<h1>Sign In</h1>

<div class="alert alert-danger">
  {{#if errorMessage}}
    ERROR: {{errorMessage}}
  {{/if}}
</div>

<form method="POST" action="/auth/signin">
  <div class="form-group">
    <label for="signin-email">E-mail: </label>
    <input id="signin-email" type="email" name="email" placeholder="Your e-mail">
  </div>
  <div class="form-group">
    <label for="signin-password">Password</label>
    <input id="signin-password" type="password" name="password" placeholder="Your password">
  </div>
  <button>Sign In</button>
</form>
