<h1>Sign Up</h1>

<form method="POST" action="/auth/signup">
  <div class="form-group">
    <label for="signup-email">E-mail: </label>
    <input id="signup-email" type="email" name="email" placeholder="Your e-mail">
  </div>
  <div class="form-group">
    <label for="signup-password">Password</label>
    <input id="signup-password" type="password" name="password" placeholder="Your password">
  </div>
  <button>Sign Up!</button>
</form>
